
.sale_text{
    writing-mode: vertical-rl;
    transform: rotate(180deg) translate(-62px, 220px);
    margin-right: 50px;
    color: #b80300;
    font-size: 20px;
}
.category {
    display: flex;
    width: min-content;
    margin-bottom: 120px;
    font-size: 25px;
}
.category:nth-child(odd){
    margin-left: 150px;
}
.category:nth-child(even){
    margin-left: auto;
    margin-right: 150px;
}.categoryContents{
    position:relative;
    width: 750px;
    height: 450px;
}.image{
    position: absolute;
    right: 0;
    transition: ease-out;
    transition-duration: 0.2s;
}.categoryContents:hover .image{
    transform: scale(1.1) translate(40px, -80px);
}.animatedBG{
    opacity: 0;
    background-color: #f2e9df;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease-out;
    transition-delay: .1s;
    transition-duration: 0.1s;
    padding-top: 120px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
}.categoryContents:hover .animatedBG {
    transform: translate(-20px, 20px);
    opacity: 1;
}.hoverTitle{
    margin-bottom: 40px;
}.hoverText{
    text-align:justify;
    width: 180px;
    font-size: 14px;
}.button{
    background-color: black;
    color: white;
    width: 200px;
    padding: 6px 0px;
    text-align: center;
    margin-top: 20px;
}