.navbar_wrapper{
    height: 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar{
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    background-color: transparent;
    border-bottom: 2px solid;
    border-color: transparent;
    transition: .3s;
}
.menu_button{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 120px;
}
body > div > div > div > div > div > p {
    margin: 0;
}
.shopping_cart_icon {
    width: 50px;
}
.cart_icons{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.profile_picture_icon {
    width: 30px;
}.navBackground {
    background-color: white;
    border-color: #b13635;
}.navLogo{
    width: 70px;
    transition: .3s;
    opacity: 0;
}.show{
    opacity: 1;
}